<section class="blog">
<div class="container">
  <h2 class="title">Our Blog</h2>
  <div class="main-carousel" data-flickity='{ "cellAlign": "left", "wrapAround":true, "pageDots": false }'>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/5836/yellow-metal-design-decoration.jpg');
              background-size: cover;background-position: 50% 50%;">
              <div class="text">
                <h3>Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium.</h3>
                <button class="button btn btn-primary" type="button" name="button">Read More</button>
              </div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Qui ita affectus, beatum esse numquam probabis</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/6253/city-street-typography-design.jpg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Negat esse eam, inquit, propter se expetendam.</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Estne, quaeso, inquam, sitienti in bibendo voluptas?</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Duae sunt enim res quoque, ne tu verba solum putes.</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/5836/yellow-metal-design-decoration.jpg');
              background-size: cover;background-position: 50% 50%;">
              <div class="text"><h3>Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium.</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Qui ita affectus, beatum esse numquam probabis</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
          <div class="carousel-cell" style="background:
            linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 1)
              ),
              url('https://images.pexels.com/photos/6253/city-street-typography-design.jpg');
              background-size: cover;background-position: 50% 50%;">
              <div class="overlay"></div>
              <div class="text"><h3>Negat esse eam, inquit, propter se expetendam.</h3>
              <button class="button btn btn-primary" type="button" name="button">Read More</button></div>
          </div>
    </div>
</div>
</section>
