<section class="clients">
  <div class="container">
    <h2 class="title" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">Broadcasters For Top Titles and Genres</h2>
    <div class="row align-items-center justify-content-around">
      <!--- start client range --->
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
          <img class="img-fluid logo" src="/img/fortnite.jpg" alt="">
        </figure>
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="100">
          <img class="img-fluid logo" src="/img/asmr.jpg" alt="">
        </figure>
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="150">
          <img class="img-fluid logo" src="/img/pubg.jpg" alt="">
        </figure>
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="200">
          <img class="img-fluid logo" src="/img/warframe.jpg" alt="">
        </figure>
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="250">
          <img class="img-fluid logo" src="/img/special-events.jpg" alt="">
        </figure>
        <figure data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
          <img class="img-fluid logo" src="/img/talk-shows-and-podcasts.jpg" alt="">
        </figure>
      <!--- end client range --->
    </div>
  </div>
</section>
