<section class="featured-columns">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
        <div class="featured-columns_text">
          <h2 class="title">Impressions that actually impress</h2>
          <p>
            How many of your impressions are served to screens where users are ignoring your ad? Your message is being lost in ever growing newsfeeds, a blur as users scroll past.
            <br><br>
            Gain more valuable impressions and greater brand lift through Twitch streamers.
          </p>
        </div>
      </div>
      <div class="col-md-6 right" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100">
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>On-Screen Placements</h5>
            Display your brand assets on-screen on-screen for the full duration of a broadcast. We aren't talking some 3 second pre-roll ad. Your brand will be visible for an entire streaming session, which for most broadcasters is a minimum of two hours.
          </div>
        </div>
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>Off-Screen Placements</h5>
            These are permanent fixtures on a broadcaster's panel (the area below their stream). Convert impressions into clicks with embeddable brand placements that are available to audiences whether the streamer is live or not.
          </div>
        </div>
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>Sponsorships</h5>
            Lock down broadcasters or entire teams with sponsorships.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
