<footer>

<section class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-between">
        <a class="navbar-brand" href="/">Ockupy.gg</a>
  <!--        <div class="row">
          <a href="#"><i class="fab fa-twitter mr-3"></i></a>
          <a href="#"><i class="fab fa-instagram mr-3"></i></a>
          <a href="#"><i class="far fa-envelope"></i></a>
        </div>-->
      </div>
    </div>
  </div>
</section>

{{ partial "scripts.html" . }}
</footer>
