<form name="contact_bottom" method="POST" netlify>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="Name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="Company" name="company" placeholder="Company">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="email" class="form-control" id="Email" name="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <select class="form-control custom-select" name="role[]">
        <option value="brand" selected>I am/represent a brand</option>
        <option value="broadcaster">I am/represent a broadcaster</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="Message" name="message" placeholder="Short message" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
