<section class="hero">
  <div class="jumbotron jumbotron-fluid" data-aos="fade-in"
    data-aos-offset="200"
    data-aos-delay="50">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="">Activate your Twitch Ambassador</h1>
          <p class="">Advertising opportunities for brands who want to stay ahead of the curve. Contact us for our full list of broadcasters and placements.</p>
        </div>
        <div class="d-md-none mx-auto mt-2">
          <a class="btn btn-primary" data-scroll href="#contact">
            Contact Us
          </a>
        </div>
        <div class="col-6 d-none d-md-block">
          {{ partial "form_top" . }}
        </div>
      </div>
    </div>
  </div>
</section>
