<section class="newsletter">
<div class="container">
  <div class="row align-content-center justify-content-center">
    <div class="col-md-auto">
      <h5>Sign up for some really cool stuff</h5>
    </div>
    <div class="col-md-auto">
      <form class="form-inline">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</section>
