<section class="placements" >
  <div class="container" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
    <img src="/img/placements.svg" alt="">
  </div>
  <a tabindex="0" id="video-ad" class="btn btn-lg btn-ad d-none d-md-block" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="top" title="In-Stream Placements" data-content="We offer a range of different in-stream ad placements including the broadcaster's background, their equipment, and even as a stream overlay."><i class="fas fa-plus"></i></a>

  <a tabindex="0" id="chat-ad" class="btn btn-lg btn-ad d-none d-md-block" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="left" title="Chatbox Placements" data-content="Immerse your brand into Twitch's most active community feature. We offer branded emojis, !bang operations, and bot interactions."><i class="fas fa-plus"></i></a>

  <a tabindex="0" id="info-ad" class="btn btn-lg btn-ad d-none d-md-block" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="top" title="Stream Sponsorships" data-content="Sponsor a single stream or a series of streams, for either a single broadcaster or an entire team."><i class="fas fa-plus"></i></a>

  <a tabindex="0" id="panel-ad" class="btn btn-lg btn-ad d-none d-md-block" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="right" title="Panel Placements" data-content="One of the most versatile placements we offer. These ads are static and can include graphics, extended messages, and links. We also offer panel takeovers where your brand assets are used to recreate a broadcaster's panel."><i class="fas fa-plus"></i></a>
</section>
