<section class="projects">
  <div class="container">
    <h2 class="title">Our Projects</h2>

<div class="row">
  <div class="col-md-6 left">
    <h2>See Why Our Client's Love Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id dolor varius justo pretium pellentesque. Aliquam molestie enim condimentum, hendrerit purus sit amet, mattis ligula. Ut nec porttitor nulla. In aliquet aliquet quam eu scelerisque. Morbi risus nisi, pretium quis aliquam non, sollicitudin eget neque. Fusce ut augue felis. Nam urna risus, vulputate scelerisque pretium a, aliquet id metus.</p>
    <button class="button btn btn-primary" type="button" name="button">See More</button>
  </div>
  <div class="col-md-6">
  <div class="main-carousel" data-flickity='{ "cellAlign": "center", "wrapAround": true, "prevNextButtons": false }'>
          <div class="carousel-cell">
                  <img class="img-fluid" src="https://images.pexels.com/photos/54284/pexels-photo-54284.jpeg" alt="">
                  <div class="text">
                    <h3>Project One</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button class="button btn btn-secondary" type="button" name="button">Read More</button>
                    </div>

          </div>
          <div class="carousel-cell">
                  <img class="img-fluid" src="https://images.pexels.com/photos/54284/pexels-photo-54284.jpeg" alt="">
                  <div class="text">
                    <h3>Project Two</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button class="button btn btn-secondary" type="button" name="button">Read More</button>
                    </div>
          </div>
          <div class="carousel-cell">
                  <img class="img-fluid" src="https://images.pexels.com/photos/54284/pexels-photo-54284.jpeg" alt="">
                  <div class="text">
                    <h3>Project Three</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button class="button btn btn-secondary" type="button" name="button">Read More</button>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
