<section class="services">
<div class="container">
    <h2 class="title" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">Why Choose Twitch to Advertise?</h2>
  <div class="row">
    <div class="col-md-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50">
      <div style="display:flex; flex-flow:row nowrap">
          <p id="sponsorships" class="by-the-numbers odometer">0</p><p class="by-the-numbers">%</p>
      </div>
            <h5>Of Viewers Are Open to Brand Sponsoships</h5>
            Broadcasters need to make a living, and their viewers know that. The more broadcasters earn from sponsors and advertisers the more time they can commit to streaming and providing high-quality content to their fans.
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="100">
      <p id="viewers" class="by-the-numbers odometer">0,000</p>
            <h5>Average Viewers</h5>
          And that was in 2017. Today, Twitch averages over 1 million viewers at any given moment. These are TV numbers; nearing Fox and ESPN which average 1.5 million viewers, and besting MSNBC and CNN.
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-offset="200" data-aos-delay="150">
      <p id="minutes" class="by-the-numbers odometer">0</p>
            <h5>Minutes Spent Daily On Twitch Per User</h5>
        Viewers spend almost two hours glued to streams. Is your brand getting this much attention on a billboard or television ad?
      </div>
  </div>
</div>
</section>
